<div
  class="tx"
  [class.clickable]="clickable"
  [attr.role]="clickable ? 'button' : null"
  [attr.tabindex]="clickable ? 0 : null"
  (click)="onClick()"
  (keydown.enter)="onClick()"
>
  <span class="swatch" [style.background]="color">
    @if (isIncome) {
      <app-icon name="arrow-down-left" size="16" />
    } @else {
      {{ initial }}
    }
  </span>
  <div class="main">
    <div class="title">
      <span class="truncate">{{ transaction.title }}</span>
      @if (transaction.recurring) {
        <span class="badge" title="Recurring"><app-icon name="repeat" size="12" /></span>
      }
      @if (isFuture) {
        <span class="chip accent">Upcoming</span>
      }
    </div>
    <div class="meta truncate">{{ meta.join(' · ') }}</div>
  </div>
  <div class="amount" [class.pos]="isIncome">
    {{ isIncome ? '+' : '' }}{{ transaction.amount | money:'always' }}
  </div>
</div>
